
:root {
    --bg-color: #262626;
    --txt-color:#faf2e1;
    --yellow:rgb(255,215,0);
}

[data-theme="dark"]{
    --bg-color: #262626;
    --txt-color:#faf2e1;
}
[data-theme="light"]{
    --bg-color: #faf2e1;
    --txt-color:#1a1a1a;
    
    
}

[data-theme="light"] .home,
[data-theme="light"] .conteiner-sections{
    border-bottom: 3px solid rgb(255,215,0);
    transition: none;
}
[data-theme="light"] .mobile-menu-icon button{
    filter: invert(0);
    
}
[data-theme="light"] .nav-menu-mobile li{
    background-color: #f1ebdfd7;
}




* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: 'Lilita One', sans-serif;
    
}

.section {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--bg-color);
    z-index: 1;
    
}

body {
    
    background-color: var(--bg-color);
    color: var(--txt-color);
    overflow-x: hidden;
}

nav {
    margin: 0 50px 0 50px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    border-bottom: 3px solid rgb(255,215,0);
    font-size: 1.5rem;
    transition: all 400ms ease;
    
}

.nav-menu{
    display: flex;
    gap: 50px;    
    align-items: center;     
    list-style: none;
    letter-spacing: 2px;
    
    
}
.nav-menu-mobile {
    transition: all 400ms ease;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0px; 
    margin-top: 10vh;
    flex-direction: column;
    width: 100%;
    
    position: absolute;
    top: 0;
    
    
}
.nav-menu-mobile a{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nav-menu-mobile li{
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: #262626ec;
    
    border-top: 2px solid var(--yellow);
    
}



nav h1{
    display: flex;
    align-items: center;
    font-size: 3rem;
    letter-spacing: 6px;
    
}

.mobile-menu-icon{
    
    display: none;
}
.menu-icon-btn{   
    
    cursor: pointer;
   
}

.dark-mode{
    
    background-size: 100%;
    width: 40px;
    height: 40px;
    
    
    
}
.dark-mode button{
    cursor: pointer;
    background: none;
    border: none;
    
}
.dark-mode img{
    
    width: 100%;
    height: 100%;
    filter: invert(1);
    
}

main{
    height: 100%;
    top: 0;
}

.home {
    padding-top: 5rem;
    margin: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    font-size: 4vw;
    border-bottom: 1px solid rgb(255,215,0);
    
}
.conteudo-home p:nth-child(1){
    font-size: 6vw;
}
.conteudo-home p:nth-child(2){
    font-size: 4.5vw;
}
.conteudo-home p:nth-child(3){
    font-size: 3.5vw;
}

.conteudo-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    border: 3px solid rgb(255,215,0);
    padding: 15px;
    border-radius: 40px 20px ;
    height: 20vw;
    gap: 35px;
}


.img-home{
   
    height: 43vw;
    width: 43vw;    
    background-size: 100% ;
    background-position: center;
    background-repeat: no-repeat;
    
    background-image: url('/img/art-andrew.png');
    border-radius: 63% 37% 60% 40% / 35% 33% 67% 65% ;
    background-color: rgb(255,215,0);
}
.txt-fixo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.div-txt{
    width: 100%;
    height: 70%;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    
   
    
}
.txt-efect{
    display: flex;
    align-items: center;
    align-self: flex-start;
    
    font-size: 100px;
    margin: 0 0 0 1.5vw;   
    min-height: 5vw;  
    
    
    
}


.conteiner-sections {
    margin: 0px 50px 0 50px;
    height: 70rem;
    border-bottom: 1px solid rgb(255,215,0);
   
    
}

.title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 5rem;
    margin: 30px 0 30px 0;
}

.conteudo-sections{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height:70%;     
    width: 100%;
}

.cards{
    display: flex;   
    align-items: center;
    justify-content: center;    
    
    
    gap: 25px;
}

.gif-habilidades{     
    width:100%;
    margin-bottom: 8rem;
    
   
}

.gif-habilidades img{    
    width: 18rem;
     
    animation: walkcycle 3s infinite linear;
    
}




.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    display: flex;
    background-color: rgb(255,215,0);
    border-radius:28% 47% 34% 51% / 31% 39% 33% 37%  ;
    -webkit-box-shadow: 2px -5px 37px 8px rgba(251,255,0,0.09);
    -moz-box-shadow: 2px -5px 37px 8px rgba(251,255,0,0.09);
    box-shadow: 2px -5px 37px 8px rgba(251,255,0,0.09);
    transition: all 0.3s ease;
}
.box img{
    
    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
}
.box p{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bg-color);

}
.cards-projetos{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 4vw;
    
    
    
    
    
}

.box-projetos{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--yellow);
    width: 20rem; 
    height: 18rem;   
    border-radius:14% 14% 14% 14% / 14% 14% 14% 14%;
    overflow: hidden;
    border: 2px solid rgb(255,215,0);
}

.img-projetos{
    display: flex;
    text-align: center;
    align-items: center;    
    justify-content: center;
    
    width: 100%;
    height: 100%;    
    
}

.img-div{
    display: flex;
   
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    
}
.img-sitInfantil{
 background-image: url(../img/capa-siteABB.png);
}
.img-memoriaGame{
    background-image: url(../img/img-memoriagame.jpeg);
}
.img-embreve{
    background-image: url(../img/capa-embreve.jfif);
}
.name-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30%;    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bg-color);
}
.name-projetos p{
    font-size: 2rem;
}

.conteiner-footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 9.5rem;
    letter-spacing: 1.5px;
    color: white;
}
.link-wpp img{
    height: 20rem;
}

.box-projetos:hover {
    transform: scale(1.1);
}

.box:hover {
    transform: scale(1.1);
    
}

.box:hover p{
    font-size: 3rem;
}

.box:hover img {
    transform: scale(1.1);
}

.nav-menu li:hover  {
    transform: scale(1.4);
    text-decoration: underline;
    text-decoration-color: rgb(255,215,0);
}
.nav-menu-mobile li:hover{
    border-bottom: 2px solid var(--yellow);
    transform: scale(1.2);
    text-decoration: underline;
    text-decoration-color: rgb(255,215,0);
    
} 


section::before {
    content: "";
    display: block;
    height: 100px; /* Ajuste esta altura para corresponder à altura do seu menu */
    margin: -100px 0 0; /* Este valor deve ser o negativo da altura */
    visibility: hidden;
  }
  @keyframes rotateIn {
    0% { transform: rotate(0deg) scale(0); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotateOut {
    0% { transform: rotate(360deg) scale(0); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(0deg); }
}

.rotate-in {
    animation: rotateIn 0.5s linear forwards;
}

.rotate-out {
    animation: rotateOut 0.5s linear forwards;
}

@keyframes walkcycle {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(1700px); }
}

@keyframes rotateScale {
    0% {
        transform: rotateY(0deg) scale(1);
    }
    50% {
        transform: rotateY(360deg) scale(1.3);
    }
    100% {
        transform: rotateY(0deg) scale(1);
    }
}







  @media only screen and (max-width: 1400px){
    .cards{
        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: 5rem;
        transform: translateY(2%);
    }
    .box-habilidades{
        display: flex;
       
        width: 17rem;
        height: 17rem;
        
        
    }
    .box-habilidades img{
        width: 8rem;
        height: 8rem;
        
        
    }
    .box-habilidades p{
        font-size: 2.3rem;
        
        
    }
    .box-habilidades:hover{
            
            transform: scale(1.1);
            
        
    }
    .box-habilidades:hover p{
        font-size: 2.8rem;
        
        
    }
   
    section::before {
        content: "";
        display: block;
        height: 40px; /* Ajuste esta altura para corresponder à altura do seu menu */
        margin: -40px 0 0; /* Este valor deve ser o negativo da altura */
        visibility: hidden;
      }     
    .contatos{
        height: 40rem;
    }
    .gif-habilidades{     
        width:100%;
        margin-bottom: 2rem;
        
       
    }
    
    .gif-habilidades img{    
        width: 12rem;       
        
    }
    
    
  }
  @media only screen and (max-width: 1100px){
    .nav-menu{
        display: none;
    }
    .mobile-menu-icon{
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 20%;
        
    }
    .mobile-menu-icon button{
       background: none;
       border: none;       
       filter: invert(1);
    }

    .home {
        flex-direction: column;
    }
    .box-projetos{
        width: 18rem; 
        height: 16rem;  
    }
    .cards-projetos{
        gap: 1.5rem;
    }
      

  }

  @media only screen and (max-width: 940px){  
    .cards-projetos{
        grid-template-columns: repeat(2, 1fr);
    }
   
    .mobile-menu-icon {
        align-self: center;
        margin-right: 0;
        
        
        
    }
    nav .mobile-menu-icon {
        align-self: center;
    }
    nav {
        
        display: flex;
        justify-content: center;
        position: relative;
    }
    nav img{
        display: flex;
        
    }
    nav h1{
        display: none;
       
    }
    .home{
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
    .dark-mode {
        position: absolute;
        right: 0;
    }
    .img-home{
        width: 20rem;
        height: 20rem;
    }
    .conteudo-home{
        transform: scale(1.5);
         
    }
     .cards{
        
        gap: 5vw;
    }
    .conteiner-sections{
        height: 80rem;
    }
    .contatos{
        height: 40rem;
    }
    .link-wpp img{
        height: 15rem;
    }
  }

  @media only screen and (max-width: 630px){
   
    .title-section{
        font-size: 3rem;
    }
    .box-habilidades{      
        width: 10rem;
        height: 10rem;       
        
    }
    .box-habilidades img{
        width: 4rem;
        height: 4rem;
    }
    .box-habilidades p{
        font-size: 1.4rem;
    }
    .box-habilidades:hover img{
        width: 4rem;
        height: 4rem;
    }
    .box-habilidades:hover p{
        font-size: 1.5rem;
    }
   .cards{
    transform: translateY(2rem);
   }
   .habilidades{
    height: 50rem;
   }
   .projetos{
    height: 60rem;
   }
  

   .box-projetos{
        width: 14rem;
        height: 13rem;       
   }
   .name-projetos p{
    font-size: 1.5rem;
   }


   .gif-habilidades{     
    width:100%;
    margin-bottom: 2rem;   
    }

    .gif-habilidades img{    
    width: 10rem;       
    
    }
    
  }

  @media only screen and (max-width: 630px){
    .box-projetos{
        width: 10rem;
        height: 9rem;       
   }
   .name-projetos p{
    font-size: 1.2rem;
   }
   .projetos{
    height: 50rem;
   }
  }
  @media only screen and (max-width: 360px){
    .box-projetos{
        width: 8rem;
        height: 8rem;       
   }
   .name-projetos p{
    font-size: 1rem;
   }
   .projetos{
    height: 40em;
   }
   .cards-projetos{
    gap: 1rem;
}
.box-habilidades{      
    width: 8.5rem;
    height: 8.5rem;       
    
}
.box-habilidades img{
    width: 4rem;
    height: 4rem;
}
.box-habilidades p{
    font-size: 1rem;
}
.box-habilidades:hover img{
    width: 3.5rem;
    height: 3.5rem;
}
.box-habilidades:hover p{
    font-size: 1.2rem;
}  
.habilidades{
    height: 40rem;
}

.img-home{
    width: 13rem;
    height: 13rem;
}
.conteudo-home{
    transform: scale(1.5);
     
}
.menu-icon-btn img{
    width: 2rem;
}
.dark-mode{
    width: 30px;
    height: 30px;
}
.gif-habilidades{     
    
    margin-bottom: 1rem;   
    }


}